<section
  class="getting-there section section--cream"
  id="getting-there"
  aria-label="Getting to the venue"
>
<div class="container">
    <div class="getting-there__header">
      <span class="eyebrow">Getting There </span>
      <h2 class="getting-there__title">Travel Info</h2>
      <span class="section-rule"></span>
    </div>

    <div class="getting-there__venues">
      <!-- Ceremony -->
      <div class="getting-there__venue">
        <p class="getting-there__venue-description">
          The chapel is set on a scenic hillside overlooking the countryside of Batangas. We
          recommend allowing extra travel time, as the road leading up to the chapel is winding.
          <br /><br />
          Parking will be available near the chapel grounds.
        </p>
        <div class="getting-there__venue-card">
          <div class="getting-there__venue-image-wrap">
            <img
              src="https://assets.zyrosite.com/Zt35zfqSOqT4BfXX/img_4432-2-BPV3EqcUEJOHUYd0.JPG"
              alt="Don Bosco Chapel on the Hill"
              class="getting-there__venue-image"
              loading="lazy"
            />
          </div>
          <div class="getting-there__venue-info">
            <p class="getting-there__venue-name">Don Bosco Chapel on the Hill</p>
            <p class="getting-there__venue-location">Batulao, Nasugbu, Batangas</p>
            <a
              class="getting-there__directions-btn"
              href="https://www.google.com/maps/place/Don+Bosco+Chapel+on+the+Hill/@14.0432,120.8724,14z/data=!4m6!3m5!1s0x33bd9c26637ae0a1:0x469e957a8a28f790!8m2!3d14.0574537!4d120.8360742!16s%2Fg%2F1hc3jvf30"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="uil uil-directions"></i>
              Get Directions
            </a>
          </div>
        </div>
      </div>

      <div class="getting-there__divider" aria-hidden="true"></div>

      <!-- Reception -->
      <div class="getting-there__venue">
        <p class="getting-there__venue-description">
          Following the ceremony, guests are invited to join us at Narra Hill for the reception. The
          venue is approximately 15 mins from the chapel.
        </p>
        <div class="getting-there__venue-card">
          <div class="getting-there__venue-image-wrap">
            <img
              src="https://assets.zyrosite.com/Zt35zfqSOqT4BfXX/img_9293-qMqyHZIFCkKzY2gk.PNG"
              alt="Narra Hill"
              class="getting-there__venue-image"
              loading="lazy"
            />
          </div>
          <div class="getting-there__venue-info">
            <p class="getting-there__venue-name">Narra Hill</p>
            <p class="getting-there__venue-location">Laurel, Batangas</p>
            <a
              class="getting-there__directions-btn"
              href="https://www.google.com/maps/place/Narra+Hill/@14.0773904,120.8810878,17z/data=!3m1!4b1!4m6!3m5!1s0x33bd9d9ab0ec3cad:0x8ef3766ca783045!8m2!3d14.0773904!4d120.8836627!16s%2Fg%2F11b6gc77k1"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="uil uil-directions"></i>
              Get Directions
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
