@use 'abstracts/mixins' as m;

.the-day {
  text-align: center;
  background: var(--color-white);

  &__header {
    font: var(--display-md-regular);
    color: var(--color-text-500);
    margin-bottom: var(--space-10);
  }

  &__date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-6);
    margin-bottom: 0;
  }

  &__month,
  &__weekday {
    flex: 1;
    font: var(--body-md-regular) var(--font-primary);
    color: var(--color-primary-600);
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__month {
    text-align: right;
  }

  &__weekday {
    text-align: left;
  }

  &__day {
    font: var(--display-xl-regular);
    color: var(--color-primary-600);
    line-height: 1;
  }

  &__year {
    font: var(--body-xl-regular) var(--font-primary);
    color: var(--color-primary-600);
    letter-spacing: 0.2em;
  }
}
